<section class="hero is-fullheight is-danger" style="background-color: #ED6A39;">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Comentarios sobre <%= current_local.nombre %></h1>
      <div class="columns is-mobile">
        <% @comentarios.each do |comentario| %>
          <% if comentario.local_id == current_local.id %>
            <div class="column">
              <div class="box">
                <div class="content">
                  El usuario <strong><%= comentario.user.nombre %></strong> dijo:
                  <br>
                  <em><%= comentario.contenido %></em>
                  <br>
                  el <%= comentario.fecha %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <a href="/" class="button is-warning">Volver al Inicio</a>
    </div>
  </div>
</section>
