<section class="hero is-danger is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-4-widescreen">
          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <h1 class="title" style="color: hsl(0, 0%, 21%); margin-top: 4vh;"><%= current_local.nombre %></h1>
                </div>
              </div>
              <ul>
                <li> <strong>Email:</strong> <%= current_local.email %> </li>
<!--                <li> Comuna: <%#= current_local.comuna.nombre %> </li>-->
                <li> <strong>Descripcion:</strong> <%= current_local.descripcion %> </li>
              </ul>
              <br>
              <div class="buttons">
                <a href="/locals/edit" class="button is-warning">Editar</a>
                <a href="/locals/menu" class="button is-primary">Ver Menu</a>
                <a href="/" class="button is-secondary" style="background-color: #ffffff">Home</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
