<!--<p id="notice"><%#= notice %></p>-->

<h1>Mis Gustos</h1>

<table class="lista-gustos">
  <thead>
  <tr>
    <th style="padding:10px">Nombre</th>
    <th style="padding:10px">Descripcion</th>
    <th style="padding:10px"> Acciones </th>
  </tr>
  </thead>

  <tbody>
  <% current_user.gustos.each do |gusto| %>
    <tr>
        <td style="padding:10px"><%=  gusto.nombre  %></td>
        <td style="padding:10px"><%=  gusto.descripcion  %></td>
        <td style="padding:10px"><%=  link_to 'Eliminar de Mis Gustos', eliminar_gusto_path(gusto_id: gusto.id, user_id: current_user.id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<a href="/gustos">Agregar nuevos gustos</a>
<br>
<a href="/users/perfil?id=<%= current_user.id %>">Volver al Perfil</a>