
<br>
<br>
<div class="columns">
    <div class="column"></div>
    <div class="column">
        <div class="box color=red">
        <article class="media">
            <div class="media-content">
            <div class="content">
                <p>
                <strong>Has estado en una cita con <%= @citum.invitation.user_invita%></strong>
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                </p>
            </div>
            </div>
        </article>
        </div>
    </div>
    <div class="column"></div>
</div>

<%= link_to 'Volver', '/', class: "button is-secondary" %>